

<tr>
  <td><%= h(user.login) -%></td>
  <td><%= h(user.email) -%></td>
  <td>
  	<%= user.enabled ? 'yes' : 'no' -%>
    <% unless user == current_user -%>
      <% if user.enabled -%>
				<% form_tag user_path(user.id), { :method => :delete } do -%>
					<%= submit_tag 'disable' %>
				<% end -%>
      <% else %>
				<% form_tag user_path(user.id), { :method => :put } do -%>
					<%= submit_tag 'enable' %>
				<% end -%>
      <% end -%>
    <% end -%>
  </td>
  <td>[<%= link_to 'edit roles', user_roles_path(user), { :title => 'Edit this user\'s roles' } %>]</td>
</tr>